@CHARSET "EUC-KR";
.rightSide input{
	border-color : rgb(85,85,85);
	border-width : 2px;
	border-style : solid;
	height: 20px;
	font-size: 18px;
}

.memeberSex{
	position: relative;
	top: 6px;
}

.check {
	margin: 15px 0 0 30px;
	vertical-align: middle;
}

.require{
	color: red;
	font-size: 15px;
}
.rightSide, .leftSide{
	width: 200px;
	height: 1000px;
	float: left;
	margin-top: 46px;
}
.rightSide{
	width: 700px;
}

.leftSide div {
	height: 71px;
	width: 100%;	
}

.rightSide div {
	height: 71px;
	width: 100%;
}

.duplicate{
	color: blue;
}